html {
    background: pink;    
    text-align: center;
}

body{
    min-height: 100vh;    
    display: flex;
    flex: 1;     
    align-items: center;
    margin: 0;
    font-size:2rem;
}

.clock {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border: 20px solid white;
    display: inline-block;
    padding: 2rem;
    position: relative;
    /* auto  horizontally center that element within its container. 
    The element will take up the width you specify, then the remaining space will be split evenly between the two margins. */
    margin:50px auto;
}

.clock-face {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateY(-3px);  
      
}

/* a rectangle */
.hand {
    height: 6px;
    width: 50%;
    background-color: #555;
    /* origin - the point where the hand will rotate off of */
    transform-origin: 100%;
    position: absolute;
    transform: rotate(90deg);
    top:50%;
    transition: all 0.02s;
    /* ticking feature */
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

}